<div id="main-container" class="container">
  <div class="jumbotron jumbotron-tracker">
    <div class="row">
    <div class="col-md-4">
      <h1>MarsOne</h1>
    </div>
    <div class="col-md-8 info-text">
      <p><%= get_article('MarsOne') %></p>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" id="marsone-bar"
               aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width:18%">
            18%
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="row">
          <p class="small_p">2011</p>
        </div>
        <div class="row">
          <p>Основание MarsOne</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2013</p>
        </div>
        <div class="row">
          <p>Начало отбора команды</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2017</p>
        </div>
        <div class="row">
          <p>Начало тренировки команды</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2022</p>
        </div>
        <div class="row">
          <p>Демо-миссия</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2024</p>
        </div>
        <div class="row">
          <p>Миссия ComSat</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2026</p>
        </div>
        <div class="row">
          <p>Rover&ComSat</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2029</p>
        </div>
        <div class="row">
          <p>Миссии доставки снаряжения</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2030</p>
        </div>
        <div class="row">
          <p>Установка снаряжения колонии</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2031</p>
        </div>
        <div class="row">
          <p>Отправка первого экипажа</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2032</p>
        </div>
        <div class="row">
          <p>Посадка первого экипажа</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2033</p>
        </div>
        <div class="row">
          <p>Отправка второго экипажа</p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 70px;">
      <div class="col-md-8 info-text">
        <p><%= get_article('SpaceX') %></p>
      </div>
      <div class="col-md-4">
          <h1>SpaceX</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" id="spacex-bar"
               aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width:36%">
            36%
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="row">
          <p>2006</p>
        </div>
        <div class="row">
          <p>Первая попытка полёта, сотрудничества с НАСА</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2012</p>
        </div>
        <div class="row">
          <p>Dragon доставляет груз на МКС и возвращается</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2013</p>
        </div>
        <div class="row">
          <p>Grasshopper демонстрирует вертикальный взлет и посадку</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2016</p>
        </div>
        <div class="row">
          <p>Первая посадка на платформу с орбиты</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2017</p>
        </div>
        <div class="row">
          <p>Подготовка команды Dragon і техническая разработка</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2018</p>
        </div>
        <div class="row">
          <p>Миссия Red Dragon</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2019</p>
        </div>
        <div class="row">
          <p>Тестирование техники и топлива</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2020</p>
        </div>
        <div class="row">
          <p>Тестирование летающих аппаратов</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2021</p>
        </div>
        <div class="row">
          <p>Тестування орбитальных полетов</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>2023</p>
        </div>
        <div class="row">
          <p>Начало полетов на Марс</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="row">
          <p>???</p>
        </div>
        <div class="row">
          <p>Потенциальные полеты к Юпитеру и его спутникам</p>
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-tracker">
      <div class="row"><p>Последние новости</p></div>
      <div class="row">
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= raw get_news_object(1) %>
              <p><%= link_to 'Подробнее', {:controller => 'news', :action => 'show', :id => 1 } %></p>
            </div>
            <div class="item">
              <%= raw get_news_object(2) %>
              <p><%= link_to 'Подробнее', {:controller => 'news', :action => 'show', :id => 2 } %></p>
            </div>
          </div>

          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Предыдущая</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Следующая</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>